# Ignore node_modules in ALL services
**/node_modules/

# Ignore environment variables
**/.env

# Logs
**/*.log
**/logs/

# Docker volumes (later)
**/mongo-data
**/redis-data
**/data

# OS files
.DS_Store
Thumbs.db

# Build folders
dist/
build/

# VS Code
.vscode/

# npm debug
npm-debug.log*